@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 100%; }

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(197, 198, 196, 0.8); }

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 167, 225, 0.8);
  border-radius: 25px; }

.container-xl {
  max-width: 138rem;
  margin: 0 auto; }

.container-l {
  max-width: 120rem;
  margin: 0 auto; }

.container-fluid {
  margin: 0 auto;
  width: 100%; }

.container-logIn {
  max-width: 128rem;
  margin: 0 auto; }

.container-signUp {
  max-width: 128rem;
  margin: 0 auto; }

.container-workflow {
  max-width: 128rem;
  margin: 0 auto; }

.display-none {
  display: none !important; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.body__theme--light {
  background-color: white; }

.header__theme--light .header__nav {
  background-color: rgba(255, 255, 255, 0.8); }

.footer__theme--light .container-l .footer__contact .address {
  color: #003459; }

.footer__theme--light .container-l .footer__contact .footer__contact--down .telNumber, .footer__theme--light .container-l .footer__contact .footer__contact--down .contactMail {
  color: #003459; }

.footer__theme--light .container-l .footer__social .social__redirect .footer__link, .footer__theme--light .container-l .footer__social .social__link .footer__link {
  color: #003459; }

.footer__theme--light .container-l .footer__social .signature {
  color: #003459; }

#logIn .container-logIn .logInImg__theme--light {
  background-image: url(../assets/misc/form-banner-light.png); }

#signUp .container-signUp .signUpImg__theme--light {
  background-image: url(../assets/misc/form-banner-light.png); }

.body__theme--blueMidnight {
  background: #003459;
  background: radial-gradient(circle, #003459 0%, #00171f 100%); }

.header__theme--blueMidnight .header__nav {
  background-color: rgba(0, 52, 89, 0.8); }

.footer__theme--blueMidnight .container-l .footer__contact .address {
  color: white; }

.footer__theme--blueMidnight .container-l .footer__contact .footer__contact--down .telNumber, .footer__theme--blueMidnight .container-l .footer__contact .footer__contact--down .contactMail {
  color: white; }

.footer__theme--blueMidnight .container-l .footer__social .social__redirect .footer__link, .footer__theme--blueMidnight .container-l .footer__social .social__link .footer__link {
  color: white; }

.footer__theme--blueMidnight .container-l .footer__social .signature {
  color: white; }

#logIn .container-logIn .logInImg__theme--blueMidnight {
  background-image: url(../assets/misc/form-banner-midnightblue.png); }

#signUp .container-signUp .signUpImg__theme--blueMidnight {
  background-image: url(../assets/misc/form-banner-midnightblue.png); }

.body__theme--dark {
  background: #00171f;
  background: radial-gradient(circle, #00171f 50%, black 100%); }

.header__theme--dark .header__nav {
  background-color: rgba(0, 23, 31, 0.8); }

.footer__theme--dark .container-l .footer__contact .address {
  color: white; }

.footer__theme--dark .container-l .footer__contact .footer__contact--down .telNumber, .footer__theme--dark .container-l .footer__contact .footer__contact--down .contactMail {
  color: white; }

.footer__theme--dark .container-l .footer__social .social__redirect .footer__link, .footer__theme--dark .container-l .footer__social .social__link .footer__link {
  color: white; }

.footer__theme--dark .container-l .footer__social .signature {
  color: white; }

#logIn .container-logIn .logInImg__theme--dark {
  background-image: url(../assets/misc/form-banner-dark.png); }

#signUp .container-signUp .signUpImg__theme--dark {
  background-image: url(../assets/misc/form-banner-dark.png); }

.swal-title {
  color: #003459; }

.swal-text {
  color: #003459; }

.swal-button--confirm {
  background-color: #007ea7;
  border-radius: 0px;
  outline: none;
  border: none;
  box-shadow: none;
  transition: all .2s;
  font-weight: 400;
  opacity: 1; }

.swal-button--confirm:hover {
  border-radius: 0px;
  outline: none;
  border: none;
  box-shadow: none; }

.swal-button--confirm:focus {
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  border: none; }

.swal-button--cancel {
  color: #003459;
  transition: all .2s;
  font-weight: 600; }

.swal-button--cancel:hover {
  color: #ef233c; }

.swal-button--cancel:focus {
  color: #ef233c; }

#footer {
  box-shadow: 0px -5px 5px 0px rgba(197, 198, 196, 0.8);
  padding: 10rem; }
  #footer .container-l {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
    #footer .container-l .footer__figure {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; }
      #footer .container-l .footer__figure .figure__link {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: start;
        align-self: start; }
        #footer .container-l .footer__figure .figure__link .figure__img {
          width: 7rem;
          height: auto; }
    #footer .container-l .footer__contact {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      justify-self: center;
      align-self: start;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 0;
      grid-row-gap: 3.2rem; }
      #footer .container-l .footer__contact .address {
        max-width: 28rem;
        max-height: auto;
        font-size: 1.8em;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        line-height: 3.6rem; }
      #footer .container-l .footer__contact .footer__contact--down {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 1.6rem; }
        #footer .container-l .footer__contact .footer__contact--down .telNumber, #footer .container-l .footer__contact .footer__contact--down .contactMail {
          max-width: 15rem;
          max-height: auto;
          font-size: 1.4em;
          font-weight: 400;
          font-family: 'Lato', sans-serif;
          line-height: 2.2rem;
          border-bottom: solid 2px; }
    #footer .container-l .footer__social {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      justify-self: end;
      align-self: start;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 0;
      grid-row-gap: 3.2rem; }
      #footer .container-l .footer__social .social__redirect, #footer .container-l .footer__social .social__link {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 2rem; }
        #footer .container-l .footer__social .social__redirect .footer__link, #footer .container-l .footer__social .social__link .footer__link {
          font-size: 1.4em;
          font-weight: 400;
          font-family: 'Lato', sans-serif;
          line-height: 2.2rem;
          transition: all .2s; }
        #footer .container-l .footer__social .social__redirect .footer__link:hover, #footer .container-l .footer__social .social__link .footer__link:hover {
          color: #007ea7; }
      #footer .container-l .footer__social .signature {
        grid-column: 1/span 3;
        grid-row: auto/span 1;
        justify-self: start;
        align-self: start;
        font-size: 1.4em;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        line-height: 2.2rem; }

@media (max-width: 768px) {
  #footer {
    padding: 6.4rem 3.2rem; }
    #footer .container-l {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: o;
      grid-row-gap: 3.2rem; }
      #footer .container-l .footer__figure {
        display: none; }
      #footer .container-l .footer__contact {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: start;
        text-align: center; }
        #footer .container-l .footer__contact .footer__contact--down {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: center;
          align-self: start; }
          #footer .container-l .footer__contact .footer__contact--down .telNumber, #footer .container-l .footer__contact .footer__contact--down .contactMail {
            border: none; }
      #footer .container-l .footer__social {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: start; }
        #footer .container-l .footer__social .social__redirect {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: start;
          align-self: start; }
        #footer .container-l .footer__social .social__link {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: end;
          align-self: start; }
        #footer .container-l .footer__social .signature {
          text-align: center; } }

#header {
  max-width: none;
  max-height: 138rem; }
  #header .header__nav {
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto; }
    #header .header__nav .container-xl {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 0;
      padding: 1.2rem 3.2rem; }
      #header .header__nav .container-xl .nav__figure .figure__link .figure__img {
        width: 6rem;
        height: auto; }
      #header .header__nav .container-xl .nav__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 3.2rem; }
        #header .header__nav .container-xl .nav__buttons .buttons__panels {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-end;
          gap: 0; }
          #header .header__nav .container-xl .nav__buttons .buttons__panels button {
            cursor: pointer;
            outline: none;
            border: none;
            background-color: rgba(25, 25, 25, 0); }
            #header .header__nav .container-xl .nav__buttons .buttons__panels button .buttons__img {
              width: 3.5rem;
              height: auto; }
          #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel {
            z-index: 3;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 3.2rem;
            width: 12rem;
            height: auto;
            padding: 1.6rem;
            position: absolute;
            top: 60px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8); }
            #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__logIn {
              font-family: 'Lato', sans-serif;
              font-size: 1.6em;
              font-weight: 600;
              color: #007ea7;
              transition: all .2s; }
            #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__logIn {
              color: #00a7e1; }
            #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__logOut {
              font-family: 'Lato', sans-serif;
              font-size: 1.6em;
              font-weight: 600;
              color: #ef233c;
              transition: all .2s; }
            #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__logOut {
              color: #d90429; }
            #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__Config {
              align-self: flex-end; }
              #header .header__nav .container-xl .nav__buttons .buttons__panels #navAccount__panel #panelBtn__Config img {
                width: 2.4rem;
                height: auto; }
  #header #header__welcome {
    margin-top: 8.2rem;
    width: 100%;
    height: 30rem; }
    #header #header__welcome .swiper {
      position: absolute;
      width: 100%;
      height: 30rem;
      object-fit: cover; }

.themeDock {
  width: 21.3rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.6rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.2rem 3.6rem;
  border-radius: 6rem; }
  .themeDock .themeDock__label {
    cursor: pointer; }
    .themeDock .themeDock__label input {
      display: none; }
    .themeDock .themeDock__label img {
      transition: all .2s; }
    .themeDock .themeDock__label img:hover {
      scale: 1.1; }

#home {
  padding: 3.2rem 0 6.4rem; }
  #home .container-xl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 8rem 0; }
    #home .container-xl .home__article--wall {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; }
      #home .container-xl .home__article--wall .article__txt--wall {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 3.2rem;
        max-width: 54rem;
        max-height: none; }
        #home .container-xl .home__article--wall .article__txt--wall .txt__wall {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: center;
          align-self: center;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          font-size: 6.4em;
          color: #003459;
          line-height: 10rem; }
          #home .container-xl .home__article--wall .article__txt--wall .txt__wall span {
            font-weight: 600; }
            #home .container-xl .home__article--wall .article__txt--wall .txt__wall span span {
              color: #007ea7; }
        #home .container-xl .home__article--wall .article__txt--wall .txtWall__left {
          text-align: start; }
        #home .container-xl .home__article--wall .article__txt--wall .txtWall__right {
          text-align: end; }
    #home .container-xl .home__figure--wall {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      justify-self: stretch;
      align-self: center; }
    #home .container-xl .home__article {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
      #home .container-xl .home__article .article__txt {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 3.2rem;
        max-width: 54rem;
        max-height: none; }
        #home .container-xl .home__article .article__txt .txt__title {
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-size: 3.6em;
          font-weight: 700;
          line-height: 3.2rem;
          color: #003459; }
          #home .container-xl .home__article .article__txt .txt__title span {
            color: #007ea7; }
        #home .container-xl .home__article .article__txt .txt__p {
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-size: 1.8em;
          font-weight: 300;
          line-height: 3.2rem;
          color: #007ea7; }
      #home .container-xl .home__article .article__btn {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: center; }
        #home .container-xl .home__article .article__btn #btn__getStarted {
          width: 25.8rem;
          height: 6rem;
          border: none;
          background-color: #00a7e1;
          color: white;
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 2.4em;
          line-height: 2.9rem;
          transition: all .2s; }
        #home .container-xl .home__article .article__btn #btn__getStarted:hover {
          cursor: pointer;
          background-color: #007ea7; }

@media (max-width: 1200px) {
  #home #home__wall {
    display: none; }
  #home .container-xl {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 12.8rem 3.2rem; }
    #home .container-xl .home__figure {
      display: none; }
    #home .container-xl .home__article {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
      #home .container-xl .home__article .article__btn #btn__getStarted {
        width: 25.8rem;
        height: 6rem; } }

#configuration {
  z-index: 1;
  position: fixed;
  top: 12.8rem;
  left: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  max-width: 128rem;
  max-height: auto; }
  #configuration .configuration__user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    max-width: 128rem;
    max-height: 51.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3.2rem; }
    #configuration .configuration__user .configUser__figure img {
      width: 12rem;
      height: auto; }
    #configuration .configuration__user #configUser__form {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 0;
      grid-row-gap: 2.4rem; }
      #configuration .configuration__user #configUser__form .form__line {
        padding: 1.2rem 1.2rem;
        width: 32rem;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: all .2s; }
        #configuration .configuration__user #configUser__form .form__line .form__input {
          width: 26rem;
          height: auto;
          border: none;
          outline: none;
          background-color: rgba(25, 25, 25, 0);
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 1.6em;
          color: #003459; }
        #configuration .configuration__user #configUser__form .form__line .form__input::placeholder {
          color: #c5c6c4; }
      #configuration .configuration__user #configUser__form .form__line:focus-within {
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35); }
      #configuration .configuration__user #configUser__form .error {
        box-shadow: 0px 4px 4px 0px rgba(239, 35, 60, 0.6);
        outline: solid 2px rgba(239, 35, 60, 0.6);
        border-radius: 5px; }
        #configuration .configuration__user #configUser__form .error .form__input {
          color: rgba(239, 35, 60, 0.6); }
        #configuration .configuration__user #configUser__form .error .form__input::placeholder {
          color: rgba(239, 35, 60, 0.6); }
      #configuration .configuration__user #configUser__form .error:focus-within {
        box-shadow: 0px 6px 6px 0px rgba(239, 35, 60, 0.6); }
      #configuration .configuration__user #configUser__form .form__buttons #submit__configUser {
        width: 14rem;
        height: 4rem;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.8em;
        color: #003459;
        transition: all .2s; }
      #configuration .configuration__user #configUser__form .form__buttons #submit__configUser:hover {
        cursor: pointer;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
        color: #007ea7; }
  #configuration .configuration__profileImg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.2rem;
    padding: 3.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px; }
    #configuration .configuration__profileImg .profileImge__title {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 1.8em;
      color: #007ea7; }
    #configuration .configuration__profileImg .profileImg__options {
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3.2rem;
      grid-row-gap: 3.2rem; }
      #configuration .configuration__profileImg .profileImg__options img {
        width: 11rem;
        height: auto; }

@media (max-width: 1520px) {
  #configuration {
    position: absolute;
    top: 10rem;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100vw;
    height: auto; }
    #configuration .configuration__user {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 3.2rem;
      width: 100vw;
      height: 51.2rem;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 2rem; }
      #configuration .configuration__user .configUser__figure img {
        width: 12rem;
        height: auto; }
    #configuration .configuration__profileImg {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 3.2rem;
      width: 100vw;
      height: auto;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 5px; }
      #configuration .configuration__profileImg .profileImge__title {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.8em;
        color: #007ea7;
        text-align: center; }
      #configuration .configuration__profileImg .profileImg__options {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-column-gap: 1.6rem;
        grid-row-gap: 3.2rem;
        align-self: center; }
        #configuration .configuration__profileImg .profileImg__options img {
          width: 11rem;
          height: auto; } }

#logIn {
  padding-top: 10rem; }
  #logIn .container-logIn {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 71.8rem; }
    #logIn .container-logIn #logIn__img {
      width: 71.1rem;
      height: 71.8rem;
      background-position: center;
      background-size: cover; }
    #logIn .container-logIn .logIn__article {
      background-color: white;
      padding: 6.4rem 12.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto; }
      #logIn .container-logIn .logIn__article .logIn__title {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: start;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 3.6em;
        color: #007ea7; }
      #logIn .container-logIn .logIn__article .logIn__panel {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: end;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-column-gap: 0;
        grid-row-gap: 3.2rem; }
        #logIn .container-logIn .logIn__article .logIn__panel .panel__title {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: center;
          align-self: center;
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 3.2em;
          color: #003459; }
        #logIn .container-logIn .logIn__article .logIn__panel #logIn__form {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 1fr 1fr 1fr;
          grid-column-gap: 0;
          grid-row-gap: 3.2rem; }
          #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__line {
            padding: 1.2rem 1.2rem;
            width: 32rem;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: all .2s; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__line .form__input {
              width: 26rem;
              height: auto;
              border: none;
              outline: none;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.6em;
              color: #003459; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__line .form__input::placeholder {
              color: #c5c6c4; }
          #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__line:focus-within {
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35); }
          #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .error {
            box-shadow: 0px 4px 4px 0px rgba(239, 35, 60, 0.6);
            outline: solid 2px rgba(239, 35, 60, 0.6);
            border-radius: 5px; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .error .form__input {
              color: rgba(239, 35, 60, 0.6); }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .error .form__input::placeholder {
              color: rgba(239, 35, 60, 0.6); }
          #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .error:focus-within {
            box-shadow: 0px 6px 6px 0px rgba(239, 35, 60, 0.6); }
          #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__buttons .buttons__forgotPsw {
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.6em;
              color: #c5c6c4;
              transition: all .2s; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__buttons .buttons__forgotPsw:hover {
              color: #007ea7; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__buttons #submit__logIn {
              width: 14rem;
              height: 4rem;
              border: none;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              font-family: 'Lato', sans-serif;
              font-weight: 700;
              font-size: 1.8em;
              color: #003459;
              transition: all .2s; }
            #logIn .container-logIn .logIn__article .logIn__panel #logIn__form .form__buttons #submit__logIn:hover {
              cursor: pointer;
              box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
              color: #007ea7; }
    #logIn .container-logIn .logIn__options {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      justify-self: center;
      align-self: end;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;
      gap: 3.2rem; }
      #logIn .container-logIn .logIn__options .options__signUp {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.6em;
        color: #003459; }
        #logIn .container-logIn .logIn__options .options__signUp #btn__signUp {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 1.6rem;
          border: none;
          outline: none;
          cursor: pointer;
          color: #007ea7;
          background-color: rgba(0, 0, 0, 0);
          transition: all .2s; }
        #logIn .container-logIn .logIn__options .options__signUp #btn__signUp:hover {
          color: #00a7e1; }

@media (max-width: 1400px) {
  #logIn .container-logIn {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr; }
    #logIn .container-logIn #logIn__img {
      display: none; } }

@media (max-width: 768px) {
  #logIn {
    padding-top: 3.2rem; }
    #logIn .container-logIn {
      box-shadow: none;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      width: 100vw;
      height: 71.8rem; }
      #logIn .container-logIn .logIn__figure {
        display: none; }
      #logIn .container-logIn .logIn__article {
        padding: 6.4rem 3.2rem; } }

@media (max-width: 768px) {
  #logIn {
    padding-top: 3.2rem; }
    #logIn .container-logIn {
      box-shadow: none;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      width: 100vw;
      height: 71.8rem; }
      #logIn .container-logIn .logIn__figure {
        display: none; }
      #logIn .container-logIn .logIn__article {
        padding: 4.8rem 1.6rem; } }

#signUp {
  padding-top: 10rem; }
  #signUp .container-signUp {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 71.8rem; }
    #signUp .container-signUp #signUp__img {
      width: 71.1rem;
      height: 71.8rem;
      background-position: center;
      background-size: cover; }
    #signUp .container-signUp .signUp__article {
      background-color: white;
      padding: 6.4rem 12.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto; }
      #signUp .container-signUp .signUp__article .signUp__title {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: start;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 3.6em;
        color: #007ea7; }
      #signUp .container-signUp .signUp__article .signUp__panel {
        grid-column: auto/span 1;
        grid-row: auto/span 1;
        justify-self: center;
        align-self: end;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-column-gap: 0;
        grid-row-gap: 3.2rem; }
        #signUp .container-signUp .signUp__article .signUp__panel .panel__title {
          grid-column: auto/span 1;
          grid-row: auto/span 1;
          justify-self: center;
          align-self: center;
          text-align: center;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 3.2em;
          color: #003459; }
        #signUp .container-signUp .signUp__article .signUp__panel #signUp__form {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 1fr 1fr 1fr;
          grid-column-gap: 0;
          grid-row-gap: 2rem; }
          #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__line {
            padding: 1.2rem 1.2rem;
            width: 32rem;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: all .2s; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__line .form__input {
              width: 26rem;
              height: auto;
              border: none;
              outline: none;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.6em;
              color: #003459; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__line .form__input::placeholder {
              color: #c5c6c4; }
          #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__line:focus-within {
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35); }
          #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .error {
            box-shadow: 0px 4px 4px 0px rgba(239, 35, 60, 0.6);
            outline: solid 2px rgba(239, 35, 60, 0.6);
            border-radius: 5px; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .error .form__input {
              color: rgba(239, 35, 60, 0.6); }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .error .form__input::placeholder {
              color: rgba(239, 35, 60, 0.6); }
          #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .error:focus-within {
            box-shadow: 0px 6px 6px 0px rgba(239, 35, 60, 0.6); }
          #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 0; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__buttons .buttons__forgotPsw {
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.6em;
              color: #c5c6c4;
              transition: all .2s; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__buttons .buttons__forgotPsw:hover {
              color: #007ea7; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__buttons #submit__signUp {
              width: 14rem;
              height: 4rem;
              border: none;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              font-family: 'Lato', sans-serif;
              font-weight: 700;
              font-size: 1.8em;
              color: #003459;
              transition: all .2s; }
            #signUp .container-signUp .signUp__article .signUp__panel #signUp__form .form__buttons #submit__signUp:hover {
              cursor: pointer;
              box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
              color: #007ea7; }
    #signUp .container-signUp .signUp__options {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      justify-self: center;
      align-self: end;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;
      gap: 3.2rem; }
      #signUp .container-signUp .signUp__options .options__signIn {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.6em;
        color: #003459; }
        #signUp .container-signUp .signUp__options .options__signIn #btn__signIn {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 1.6rem;
          border: none;
          outline: none;
          cursor: pointer;
          color: #007ea7;
          background-color: rgba(0, 0, 0, 0);
          transition: all .2s; }
        #signUp .container-signUp .signUp__options .options__signIn #btn__signIn:hover {
          color: #00a7e1; }

@media (max-width: 1400px) {
  #signUp .container-signUp {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr; }
    #signUp .container-signUp #signUp__img {
      display: none; } }

@media (max-width: 768px) {
  #signUp {
    padding-top: 3.2rem; }
    #signUp .container-signUp {
      box-shadow: none;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      width: 100vw;
      height: 71.8rem; }
      #signUp .container-signUp .signUp__figure {
        display: none; }
      #signUp .container-signUp .signUp__article {
        padding: 6.4rem 3.2rem; } }

@media (max-width: 768px) {
  #signUp {
    padding-top: 3.2rem; }
    #signUp .container-signUp {
      box-shadow: none;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      width: 100vw;
      height: 71.8rem; }
      #signUp .container-signUp .signUp__figure {
        display: none; }
      #signUp .container-signUp .signUp__article {
        padding: 4.8rem 1.6rem; } }

#workflow {
  display: none; }

#workflow {
  margin-top: 8.25rem;
  background-image: url(../assets/bg-img/workflow-light-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 6.4rem 0; }
  #workflow .container-workflow {
    background-color: rgba(255, 255, 255, 0.8);
    width: 144rem;
    height: 118rem;
    border-radius: .5rem; }
