.footer {
    box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);

    padding: 10rem;

    .footer-container {
        @include grid-container(1fr 1fr 1fr, auto);

        .footer_brand {
            @include grid-container(auto, auto);

            .footer_brand-link {
                @include grid-item($justify-self: start);

                .footer_brand-image {
                    width: 7rem;
                }
            }
        }

        .footer_contact {
            @include grid-item($justify-self: center);
            @include grid-container(1fr, 1fr 1fr);
            @include grid-gap(0, 3.2rem);

            .address {
                max-width: 28rem;
                font-size: 1.8em;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                line-height: 3.6rem;
                color: $strong-blue;
            }

            .footer_contact-footer {
                @include grid-container(1fr, 1fr 1fr);
                @include grid-gap(0, 1.6rem);

                .telephone,
                .mail {
                    max-width: 15rem;
                    font-size: 1.4em;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    line-height: 2.2rem;
                    color: $strong-blue;
                    border-bottom: solid 1.5px;
                }
            }
        }

        .footer_social {
            @include grid-item($justify-self: end);
            @include grid-container(1fr 1fr, auto);
            @include grid-gap(0, 3.2rem);

            .footer_social-container {
                @include grid-container(1fr, auto);
                @include grid-gap(0, 2rem);

                .link {
                    font-size: 1.4em;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;
                    line-height: 2.2rem;
                    color: $strong-blue;
                    transition: all .2s;
                }

                .link:hover {
                    color: $blue;
                }
            }

            .copyright {
                @include grid-item($column: 1, $column-span: 3);
                font-size: 1.4em;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                line-height: 2.2rem;
                color: $strong-blue;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 6.4rem 3.2rem;

        .footer-container {
            @include grid-container(1fr, auto auto);
            @include grid-gap(o, 3.2rem);

            .footer_brand {
                display: none;
            }

            .footer_contact {
                @include grid-item($justify-self: center);
                text-align: center;

                .footer_contact-footer {
                    @include grid-item($justify-self: center);

                    .telephone,
                    .mail {
                        border: none;
                    }
                }
            }


            link .footer_social {
                @include grid-item($justify-self: center);

                .footer_social-container .one {
                    @include grid-item($justify-self: start);
                }

                .footer_social-container .two {
                    @include grid-item($justify-self: end);
                }

                .copyright {
                    text-align: center;
                }
            }
        }
    }
}