.header {
    .header_navbar {
        width: 100%;

        position: fixed;
        top: 0;
        z-index: 2;

        background: white;

        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);


        .container-xl {
            @include flex(row, nowrap, space-between, center, 0);
            padding: .8rem;

            .header_navbar-brand {
                .brand_link {
                    .brand_image {
                        width: 4rem;
                    }
                }
            }

            .header_navbar-buttons {
                @include flex(row, nowrap, space-between, center, 1.6rem);
                position: relative;

                .user-email {
                    font-size: 1.4em;
                    font-weight: 400;
                    font-family: 'Poppins', sans-serif;
                    color: $gray;
                }

                #toggle_buttons {
                    display: grid;
                    place-items: center;

                    color: $gray;

                    border: none;
                    border-radius: 50%;

                    background: rgba(0, 0, 0, 0);
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        #user-icon {
                            color: $strong-gray;
                        }
                    }


                    #user-icon {
                        border-radius: 50%;
                        width: 3.2rem;
                        height: 3.2rem;
                        transition: all .2s ease-in;
                    }
                }

                .focused {
                    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                }

                #toggle_buttons-panel {
                    display: grid;
                    place-items: center;

                    position: absolute;
                    top: 4rem;
                    right: 0;

                    background: white;
                    border-radius: .2rem;

                    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

                    .options {
                        background: white;
                        border-radius: .4rem;

                        .options_greeting {
                            padding: .8rem 1.6rem;
                            border-radius: .4rem .4rem 0 0;
                            text-align: center;

                            .options_greeting-title {
                                width: 100%;
                                text-align: center;

                                font-size: 1.4em;
                                font-weight: 400;
                                font-family: 'Poppins', sans-serif;
                                color: $strong-blue;
                            }
                        }

                        .options_buttons {
                            @include flex(column, nowrap, space-between, center, .8rem);
                            padding: .8rem;

                            border-radius: 0 0 .4rem .4rem;
                            background: rgb(250, 250, 250);

                            -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
                            -moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
                            box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);

                            .options_buttons-button {
                                cursor: pointer;
                                color: $strong-blue;

                                border: none;
                                background: rgba(0, 0, 0, 0);

                                font-size: 1.4em;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 500;
                                text-align: center;

                                transition: color .2s ease;

                                &:focus {
                                    outline: none;
                                }

                                &:hover {
                                    color: $strong-gray;
                                }
                            }

                            #logout_button {
                                color: $red;
                            }

                            #logout_button:hover {
                                color: $strong-red;
                            }
                        }
                    }

                }

                .user-email {
                    font-size: 1.4rem;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    color: $strong-gray;
                }
            }
        }
    }

    #header_banner {
        margin-top: 6.4rem;
        width: 100%;
        height: 34rem;
        position: relative;

        .swiper {
            position: absolute;
            width: 100%;
            height: 34rem;
            object-fit: cover;

            .swiper_brand {
                position: absolute;
                width: 100%;
                height: 100%;

                &-image {
                    position: absolute;
                    bottom: 1.6rem;
                    right: 1.6rem;
                    max-width: 6.4rem;
                }

                &-title {
                    position: absolute;
                    left: 1.6rem;
                    top: 50%;
                    transform: translateY(-50%);

                    max-width: 40rem;

                    font-size: 6.4em;
                    font-family: 'Lato', sans-serif;
                    font-weight: 200;
                    line-height: 10rem;
                    color: $white;
                }
            }

            .swiper_brand-center {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -60%);

                .swiper_brand-image {
                    position: static;
                    max-width: 7.2rem;
                }
            }

        }
    }
}

@media (max-width: 768px) {
    #header_banner {
        display: none;
    }
}