.header {
    @include max-sizes(none, 138rem);

    .header_navbar {
        position: fixed;
        top: 0;
        z-index: 2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        @include sizes(100%, auto);

        .container-xl {
            @include flex(row, nowrap, space-between, center, 0);
            padding: 1.2rem 3.2rem;

            .header_navbar-brand {
                .brand_link {
                    .brand_image {
                        @include sizes(6rem, auto);
                    }
                }
            }

            .header_navbar-buttons {
                @include flex(row, nowrap, space-between, center, 3.2rem);

                .buttons_panel {
                    @include flex(column, nowrap, space-between, flex-end, 0);
                }
            }
        }
    }

    #header_banner {
        margin-top: 9.6rem;
        @include sizes(100%, 30rem);

        .swiper {
            position: absolute;
            @include sizes(100%, 30rem);
            object-fit: cover;
        }
    }
}