#configuration{
    z-index: 1;
    position: fixed;
    top: $space-128;
    left: 45rem;
    @include flex (row, wrap, center, center, $space-32);
    @include max-sizes(128rem, auto);
    .configuration__user{
        @include flex(column, nowrap, space-between, center, $space-32);
        @include max-sizes(128rem, 51.2rem);
        background-color: $white-op80;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: $space-32;
        .configUser__figure{
            img{
                @include sizes(12rem, auto);
            }
        }
        #configUser__form{
            @include grid-container(auto, 1fr 1fr 1fr);
            @include grid-gap(0, $space-24);
            .form__line{
                padding: $space-12 $space-12;
                @include sizes(32rem, auto);
                @include flex(row, nowrap, space-between, center, 0);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                
                transition: all .2s;
                .form__input{
                    @include sizes(26rem, auto);
                    border: none;
                    outline: none;
                    background-color: rgba(25, 25, 25, 0);

                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: $font-16;
                    color: $navyBlue;
                }
                .form__input::placeholder{
                    color: $gray;
                }
            }
            .form__line:focus-within{
                box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
            }
            .error{
                box-shadow: 0px 4px 4px 0px $imperialRed-op60;
                outline: solid 2px $imperialRed-op60;
                border-radius: 5px;
                .form__input{
                    color:  $imperialRed-op60;
                }
                .form__input::placeholder{
                    color: $imperialRed-op60;
                }
            }
            .error:focus-within{
                box-shadow: 0px 6px 6px 0px $imperialRed-op60;
            }
            .form__buttons{
                #submit__configUser{
                    @include sizes(14rem, 4rem);
                    border: none;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    font-size: $font-18;
                    color: $navyBlue;
                    transition: all .2s;
                }
                #submit__configUser:hover{
                    cursor: pointer;
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
                    color: $deepSkyBlue;
                }

            }
        }

    }
    .configuration__profileImg{
        @include flex(column, nowrap, space-between, stretch, $space-32);
        padding: $space-32;

        background-color: $white-op80;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .profileImge__title{
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: $font-18;
            color: $deepSkyBlue;
        }
        .profileImg__options{
            @include grid-container(repeat(4, auto), repeat(3, auto));
            @include grid-gap($space-32, $space-32);
            img{
                @include sizes(11rem, auto);
                cursor: pointer;
            }
        }

    }
}



@media (max-width: 1520px){
    #configuration{
        position: absolute;
        top: $space-100;
        left: 0;
        @include flex (column, nowrap, center, center, 0);
        @include sizes(100vw, auto);
        .configuration__user{
            @include flex(column, nowrap, space-between, center, $space-32);
            @include sizes(100vw, 51.2rem);
            background-color: $white-op80;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: $space-20;
            .configUser__figure{
                img{
                    @include sizes(12rem, auto);
                }
            }
        }
        .configuration__profileImg{
            @include flex(column, nowrap, space-between, stretch, $space-32);
            @include sizes(100vw, auto);
            padding: $space-20;
    
            background-color: $white-op80;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            .profileImge__title{
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: $font-18;
                color: $deepSkyBlue;
                text-align: center;
            }
            .profileImg__options{
                @include grid-container(repeat(2, auto), auto);
                @include grid-gap($space-16, $space-32);
                align-self: center;
                img{
                    @include sizes(11rem, auto);
                    
                }
            }
    
        }
    }
    
}