.container-xl{
    max-width: 138rem;
    margin: 0 auto;
}
.container-l{
    max-width: 120rem;
    margin: 0 auto;
}
.container-fluid{
    margin: 0 auto;
    width: 100%;
}
.container-logIn{
    max-width: 128rem;
    margin: 0 auto;
}
.container-signUp{
    max-width: 128rem;
    margin: 0 auto;
}
.container-workflow{
    max-width: 128rem;
    margin: 0 auto;
}
.display-none{
    display: none!important;
}
body{
    @include grid-container(1fr, auto);
}
