* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
    height: 100%;
}

// ScrollBar - Quitar si causa problemas
body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $gray-op80;
}

body::-webkit-scrollbar-thumb {
    background-color: $skyBlue-op80;
    border-radius: 25px;
}