// FONT-SIZE
$font-64: 6.4em;
$font-48: 4.8em;
$font-42: 4.2em;
$font-38: 3.8em;
$font-36: 3.6em;
$font-32: 3.2em;
$font-28: 2.8em;
$font-26: 2.6em;
$font-24: 2.4em;
$font-22: 2.2em;
$font-20: 2.0em;
$font-18: 1.8em;
$font-16: 1.6em;
$font-14: 1.4em;

// COLORS
$light-gray: #c5c6c4cc;
$gray: rgba(197, 198, 196, 1);
$strong-gray: rgb(158, 158, 158);
$black-gray: #616161;

$red: rgba(217, 4, 41, 1);
$strong-red: rgb(160, 0, 27);

$white: rgba(255, 255, 255, 1);
$white-opacity-80: rgba(255, 255, 255, 0.80);

$light-blue: #00a7e1;
$blue: #007ea7;
$strong-blue: #003459;