#home {
    padding: $space-32 0 $space-64;

    .container-xl {
        @include grid-container(1fr 1fr, auto);
        padding: $space-80 0;
    }

    #home_welcome {
        .welcome_figure {
            perspective: 1500px;

            &-image {
                transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
                border-radius: 0.25em;
                transition: transform .6s;
            }

            &:hover .welcome_figure-image {
                transform: rotate(0);
            }
        }

        .welcome_cta {
            @include flex(column, nowrap, stretch, flex-start, $space-32);

            &-title {
                font-size: $font-42;
                font-weight: 400;
                font-family: 'Lato', sans-serif;
                color: $navyBlue;

                bold {
                    color: $deepSkyBlue;
                    font-weight: 600;
                }
            }

            &-description {
                font-size: $font-16;
                font-family: 'Poppins', sans-serif;
                line-height: 3.2rem;
                color: $navyBlue
            }

            .welcome_cta-buttons {
                @include flex(row, nowrap, flex-start, center, $space-32);
                width: 100%;

                .getStarted_button {
                    display: grid;
                    place-items: center;

                    height: 5rem;
                    width: 20rem;

                    font-size: $font-18;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;

                    color: $white;
                    background: $skyBlue;
                    border-radius: .4rem;

                    transition: all .2s ease-in;

                    &:hover,
                    &:focus {
                        background: $deepSkyBlue;
                        outline: none;
                        -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
                    }

                    &-register {
                        font-size: $font-16;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 500;

                        color: $navyBlue;
                        transition: color .2s ease-in;

                        &:hover {
                            color: $deepSkyBlue;
                        }
                    }
                }
            }
        }
    }

    #home_details {
        // TODO: Separar en dos y agregar contenido

        .home_details-container {
            grid-column: 2/3;
            @include flex(column, nowrap, space-between, center, 0px);
            border-radius: .4rem;
            border: solid 1px $grey-op80;
            border-bottom: none;

            -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);

            .detail {
                @include flex(column, nowrap, space-between, flex-start, 0);
                max-width: 48rem;
                border-bottom: solid 1px $grey-op80;

                .detail_title {
                    @include flex(row, nowrap, space-between, center, 0px);
                    width: 100%;

                    cursor: pointer;
                    padding: $space-16 $space-32;

                    font-size: $font-18;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;

                    color: $navyBlue;

                    &.expanded {
                        -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

                    }

                    &.expanded .arrow-icon {
                        transform: rotate(180deg);
                    }

                    .arrow-icon {
                        align-self: flex-end;
                        width: 2rem;
                        height: 2rem;
                        transition: transform 0.3s ease;
                    }
                }

                .detail_description {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease;

                    .detail_description-text {
                        border-top: solid 1px $grey-op80;
                        border-radius: 0 0 .4rem .4rem;

                        padding: $space-16 $space-32;

                        font-size: $font-14;
                        font-family: 'Lato', sans-serif;
                        line-height: 2.4rem;

                        color: white;
                        background: $navyBlue;
                    }
                }
            }

            .detail.expanded {}
        }
    }
}