@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(197, 198, 196, 0.8);
}

body::-webkit-scrollbar-thumb {
  background-color: #00a7e1;
  border-radius: 25px;
}

.container-xl {
  max-width: 138rem;
  margin: 0 auto;
}

.container-l {
  max-width: 120rem;
  margin: 0 auto;
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
}

.container-logIn {
  max-width: 128rem;
  margin: 0 auto;
}

.container-signUp {
  max-width: 128rem;
  margin: 0 auto;
}

.container-workflow {
  max-width: 128rem;
  margin: 0 auto;
}

.display-none {
  display: none !important;
}

.display-none2 {
  display: none !important;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.footer {
  box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10rem 10rem 6.4rem;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.footer .footer-container .footer_brand {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.footer .footer-container .footer_brand .footer_brand-link {
  grid-column: auto/span 1;
  grid-row: auto/span 1;
  justify-self: start;
  align-self: start;
}
.footer .footer-container .footer_brand .footer_brand-link .footer_brand-image {
  width: 7rem;
}
.footer .footer-container .footer_contact {
  grid-column: auto/span 1;
  grid-row: auto/span 1;
  justify-self: center;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 3.2rem;
}
.footer .footer-container .footer_contact .address {
  max-width: 28rem;
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 3.6rem;
  color: #003459;
}
.footer .footer-container .footer_contact .footer_contact-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1.6rem;
}
.footer .footer-container .footer_contact .footer_contact-footer .telephone,
.footer .footer-container .footer_contact .footer_contact-footer .mail {
  max-width: 15rem;
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 2.2rem;
  color: #003459;
  border-bottom: solid 1.5px;
}
.footer .footer-container .footer_social {
  grid-column: auto/span 1;
  grid-row: auto/span 1;
  justify-self: end;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 3.2rem;
}
.footer .footer-container .footer_social .footer_social-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 2rem;
}
.footer .footer-container .footer_social .footer_social-container .link {
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 2.2rem;
  color: #003459;
  transition: all 0.2s;
}
.footer .footer-container .footer_social .footer_social-container .link:hover {
  color: #007ea7;
}
.footer .footer-container .footer_social .copyright {
  grid-column: 1/span 3;
  grid-row: auto/span 1;
  justify-self: start;
  align-self: start;
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 2.2rem;
  color: #003459;
}

@media (max-width: 768px) {
  .footer {
    padding: 6.4rem 3.2rem;
  }
  .footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: o;
    grid-row-gap: 3.2rem;
  }
  .footer .footer-container .footer_brand {
    display: none;
  }
  .footer .footer-container .footer_contact {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    justify-self: center;
    align-self: start;
    text-align: center;
  }
  .footer .footer-container .footer_contact .footer_contact-footer {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    justify-self: center;
    align-self: start;
  }
  .footer .footer-container .footer_contact .footer_contact-footer .telephone,
  .footer .footer-container .footer_contact .footer_contact-footer .mail {
    border: none;
  }
  .footer .footer-container link .footer_social {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    justify-self: center;
    align-self: start;
  }
  .footer .footer-container link .footer_social .footer_social-container .one {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    justify-self: start;
    align-self: start;
  }
  .footer .footer-container link .footer_social .footer_social-container .two {
    grid-column: auto/span 1;
    grid-row: auto/span 1;
    justify-self: end;
    align-self: start;
  }
  .footer .footer-container link .footer_social .copyright {
    text-align: center;
  }
}
.header .header_navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header .header_navbar .container-xl {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0.8rem;
}
.header .header_navbar .container-xl .header_navbar-brand .brand_link .brand_image {
  width: 4rem;
}
.header .header_navbar .container-xl .header_navbar-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}
.header .header_navbar .container-xl .header_navbar-buttons .user-email {
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgb(197, 198, 196);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons {
  display: grid;
  place-items: center;
  color: rgb(197, 198, 196);
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons:focus {
  outline: none;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons:hover #user-icon {
  color: rgb(158, 158, 158);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons #user-icon {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.2s ease-in;
}
.header .header_navbar .container-xl .header_navbar-buttons .focused {
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel {
  display: grid;
  place-items: center;
  position: absolute;
  top: 4rem;
  right: 0;
  background: white;
  border-radius: 0.2rem;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options {
  background: white;
  border-radius: 0.4rem;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_greeting {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem 0.4rem 0 0;
  text-align: center;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_greeting .options_greeting-title {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #003459;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border-radius: 0 0 0.4rem 0.4rem;
  background: rgb(250, 250, 250);
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons .options_buttons-button {
  cursor: pointer;
  color: #003459;
  border: none;
  background: rgba(0, 0, 0, 0);
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
  transition: color 0.2s ease;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons .options_buttons-button:focus {
  outline: none;
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons .options_buttons-button:hover {
  color: rgb(158, 158, 158);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons #logout_button {
  color: rgb(217, 4, 41);
}
.header .header_navbar .container-xl .header_navbar-buttons #toggle_buttons-panel .options .options_buttons #logout_button:hover {
  color: rgb(160, 0, 27);
}
.header .header_navbar .container-xl .header_navbar-buttons .user-email {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(158, 158, 158);
}
.header #header_banner {
  margin-top: 6.4rem;
  width: 100%;
  height: 34rem;
  position: relative;
}
.header #header_banner .swiper {
  position: absolute;
  width: 100%;
  height: 34rem;
  object-fit: cover;
}
.header #header_banner .swiper .swiper_brand {
  position: absolute;
  width: 100%;
  height: 100%;
}
.header #header_banner .swiper .swiper_brand-image {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
  max-width: 6.4rem;
}
.header #header_banner .swiper .swiper_brand-title {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 40rem;
  font-size: 6.4em;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  line-height: 10rem;
  color: rgb(255, 255, 255);
}
.header #header_banner .swiper .swiper_brand-center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.header #header_banner .swiper .swiper_brand-center .swiper_brand-image {
  position: static;
  max-width: 7.2rem;
}

@media (max-width: 768px) {
  #header_banner {
    display: none;
  }
}
#theme-dock {
  width: 21.3rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.6rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 1.2rem 3.6rem;
  border-radius: 6rem;
}
#theme-dock label {
  cursor: pointer;
}
#theme-dock label input {
  display: none;
}
#theme-dock label svg {
  color: #003459;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.2s ease-in;
}
#theme-dock label #sun-icon:hover {
  color: yellow;
}
#theme-dock label .themeDock_sunIcon-active {
  scale: 1.08;
  color: yellow;
}
#theme-dock label #sunset-icon {
  width: 2.8rem;
  height: 2.8rem;
}
#theme-dock label #sunset-icon:hover {
  color: orangered;
}
#theme-dock label .themeDock_sunsetIcon-active {
  scale: 1.08;
  color: orangered;
}
#theme-dock label #moon-icon:hover {
  color: #007ea7;
}
#theme-dock label .themeDock_moonIcon-active {
  scale: 1.08;
  color: #007ea7;
}
#theme-dock label svg:hover {
  scale: 1.05;
}

#home {
  padding: 0 0 6.4rem;
}
#home .container-xl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 6.4rem 0;
}
#home #home_welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
}
#home #home_welcome .welcome_figure-image {
  max-width: 62rem;
}
#home #home_welcome .welcome_cta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
}
#home #home_welcome .welcome_cta-title {
  font-size: 4.2em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #003459;
}
#home #home_welcome .welcome_cta-title bold {
  color: #007ea7;
  font-weight: 600;
}
#home #home_welcome .welcome_cta-description {
  max-width: 62rem;
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 3.2rem;
  color: #003459;
}
#home #home_welcome .welcome_cta .welcome_cta-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
}
#home #home_welcome .welcome_cta .welcome_cta-buttons .getStarted_button {
  display: grid;
  place-items: center;
  height: 5rem;
  width: 20rem;
  font-size: 1.8em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: #00a7e1;
  border-radius: 0.1rem;
  transition: all 0.2s ease-in;
}
#home #home_welcome .welcome_cta .welcome_cta-buttons .getStarted_button:hover, #home #home_welcome .welcome_cta .welcome_cta-buttons .getStarted_button:focus {
  background: #007ea7;
  outline: none;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
#home #home_welcome .welcome_cta .welcome_cta-buttons .getStarted_button-register {
  font-size: 1.6em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #003459;
  transition: color 0.2s ease-in;
}
#home #home_welcome .welcome_cta .welcome_cta-buttons .getStarted_button-register:hover {
  color: rgb(158, 158, 158);
}

.login-blue {
  background: radial-gradient(136.28% 128.12% at 50% 50.12%, #003459 0%, #000 100%);
}

.login-dark {
  background: radial-gradient(176.39% 130.65% at 50% 50%, #00171F 0%, #000 100%);
}

#login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#login .login_container {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
#login .login_container #login_landscape {
  height: 72.2rem;
  width: 71.2rem;
  object-fit: cover;
}
#login .login_container .login_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  height: 71.8rem;
  width: 57rem;
  padding: 6.4rem;
}
#login .login_container .login_content-title {
  font-size: 3.6em;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  color: #007ea7;
  text-align: center;
}
#login .login_container .login_content-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
#login .login_container .login_content-form-title {
  font-size: 2.4em;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #003459;
  text-align: center;
}
#login .login_container .login_content-form #login_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
#login .login_container .login_content-form #login_form .login_form-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  width: 32rem;
  height: 4rem;
  padding: 0 1.6rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in;
  position: relative;
}
#login .login_container .login_content-form #login_form .login_form-label .login-action {
  position: absolute;
  top: -2rem;
  left: 0.4rem;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: rgb(217, 4, 41);
}
#login .login_container .login_content-form #login_form .login_form-label .login_form-input {
  padding: 0.8rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: #003459;
  width: 27rem;
}
#login .login_container .login_content-form #login_form .login_form-label .login_form-input:focus {
  outline: none;
}
#login .login_container .login_content-form #login_form .login_form-label .login_form-input::placeholder {
  color: rgb(197, 198, 196);
}
#login .login_container .login_content-form #login_form .login_form-label #user-form-icon,
#login .login_container .login_content-form #login_form .login_form-label #password-form-icon {
  color: rgb(197, 198, 196);
}
#login .login_container .login_content-form #login_form .wrong {
  border: solid 1px rgb(217, 4, 41);
}
#login .login_container .login_content-form #login_form .wrong .login_form-input {
  color: rgb(217, 4, 41);
}
#login .login_container .login_content-form #login_form .wrong #user-form-icon,
#login .login_container .login_content-form #login_form .wrong #password-form-icon {
  color: rgb(217, 4, 41);
}
#login .login_container .login_content-form #login_form .box-shadow-focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#login .login_container .login_content-form #login_form .login_form-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  width: 100%;
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-forgotpassword {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: rgb(197, 198, 196);
  transition: color 0.2s ease-in;
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-forgotpassword:focus {
  outline: none;
  color: rgb(158, 158, 158);
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-forgotpassword:hover {
  color: rgb(158, 158, 158);
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-submit {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: #003459;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in;
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-submit:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#login .login_container .login_content-form #login_form .login_form-actions .login_form-submit:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#login .login_container .login_register {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}
#login .login_container .login_register .login_register-text {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #003459;
}
#login .login_container .login_register .login_register-text .login_register-link {
  color: #007ea7;
  transition: color 0.2s ease-in;
}
#login .login_container .login_register .login_register-text .login_register-link:hover {
  color: #003459;
}
#login .login_container .login_register .login_register-text .login_register-link:focus {
  color: #003459;
  outline: none;
}

.register-blue {
  background: radial-gradient(136.28% 128.12% at 50% 50.12%, #003459 0%, #000 100%);
}

.register-dark {
  background: radial-gradient(176.39% 130.65% at 50% 50%, #00171F 0%, #000 100%);
}

#register {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#register .register_container {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
#register .register_container #register_landscape {
  height: 72.2rem;
  width: 71.2rem;
  object-fit: cover;
}
#register .register_container .register_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  height: 71.8rem;
  width: 57rem;
  padding: 1.6rem 3.2rem;
}
#register .register_container .register_content-title {
  font-size: 3.6em;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  color: #007ea7;
  text-align: center;
}
#register .register_container .register_content-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
#register .register_container .register_content-form-title {
  font-size: 2.4em;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #003459;
  text-align: center;
}
#register .register_container .register_content-form #register_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
#register .register_container .register_content-form #register_form .register_form-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  width: 32rem;
  height: 4rem;
  padding: 0 1.6rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in;
}
#register .register_container .register_content-form #register_form .register_form-label .register_form-input {
  padding: 0.8rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: #003459;
  width: 27rem;
}
#register .register_container .register_content-form #register_form .register_form-label .register_form-input:focus {
  outline: none;
}
#register .register_container .register_content-form #register_form .register_form-label .register_form-input::placeholder {
  color: rgb(197, 198, 196);
}
#register .register_container .register_content-form #register_form .register_form-label #user-form-icon,
#register .register_container .register_content-form #register_form .register_form-label #password-form-icon,
#register .register_container .register_content-form #register_form .register_form-label #user-phone-icon,
#register .register_container .register_content-form #register_form .register_form-label #user-mail-icon {
  color: rgb(197, 198, 196);
}
#register .register_container .register_content-form #register_form .box-shadow-focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#register .register_container .register_content-form #register_form .register_form-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  padding: 1.6rem;
  width: 100%;
}
#register .register_container .register_content-form #register_form .register_form-actions .register_form-submit {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: #003459;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in;
}
#register .register_container .register_content-form #register_form .register_form-actions .register_form-submit:hover {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#register .register_container .register_content-form #register_form .register_form-actions .register_form-submit:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#register .register_container .register_login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}
#register .register_container .register_login .register_login-text {
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #003459;
}
#register .register_container .register_login .register_login-text .register_login-link {
  color: #007ea7;
  transition: color 0.2s ease-in;
}
#register .register_container .register_login .register_login-text .register_login-link:hover {
  color: #003459;
}
#register .register_container .register_login .register_login-text .register_login-link:focus {
  color: #003459;
  outline: none;
}

#workbench {
  display: grid;
  grid-template-columns: auto auto auto;
}
#workbench .workbench_aside {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  gap: 1rem;
  max-width: 29.8rem;
  position: relative;
  background: #f3f3f3;
}
#workbench .workbench_aside .workbench_aside-branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  position: absolute;
  top: 0.4rem;
  left: 0.8rem;
}
#workbench .workbench_aside .workbench_aside-branding .branding-icon {
  max-width: 2rem;
}
#workbench .workbench_aside .workbench_aside-branding .branding-name {
  align-self: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #003459;
}
#workbench .workbench_aside .workbench_aside-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4.8rem;
  padding: 0.6rem 1.6rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;
}
#workbench .workbench_aside .workbench_aside-header .header_figure {
  border-radius: 50%;
}
#workbench .workbench_aside .workbench_aside-header .header_figure .header_figure-image {
  width: 4.8rem;
  border-radius: 50%;
}
#workbench .workbench_aside .workbench_aside-header .header_welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4rem;
}
#workbench .workbench_aside .workbench_aside-header .header_welcome .header_welcome-name {
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: #003459;
}
#workbench .workbench_aside .workbench_aside-header .header_welcome .header_welcome-email {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #616161;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container {
  position: absolute;
  top: 7.2rem;
  left: 1.6rem;
  z-index: 2;
  border-radius: 0.4rem;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile_panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
  background: rgb(255, 255, 255);
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile_panel .prfile_panel-label .profile_panel-label-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  margin: 0.2rem;
  width: 26.6rem;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #003459;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile_panel .prfile_panel-label .profile_panel-label-link svg {
  width: 2rem;
  height: 2rem;
  color: #003459;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile_panel .prfile_panel-label .profile_panel-label-link:hover {
  background: #f6f6f6;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile_panel #profile-panel-line {
  display: block;
  width: 100%;
  height: 0.1rem;
  background: #dfdfdf;
}
#workbench .workbench_aside .workbench_aside-header #profile-panel-container .profile-panel-active {
  max-height: 17.1rem;
}
#workbench .workbench_aside .workbench_aside-header:hover {
  background: #dfdfdf;
}
#workbench .workbench_aside .workbench_aside-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.4rem;
  padding: 0 1.6rem;
  width: 100%;
  align-self: center;
}
#workbench .workbench_aside .workbench_aside-form .form_label {
  border-radius: 0.4rem;
  position: relative;
  width: 100%;
  height: 3rem;
}
#workbench .workbench_aside .workbench_aside-form .form_label .form_label-input {
  width: 100%;
  padding: 0.6rem 1.6rem;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #f6f6f6;
  color: #003459;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  border-bottom: solid 1px rgb(158, 158, 158);
}
#workbench .workbench_aside .workbench_aside-form .form_label .form_label-input::placeholder {
  color: rgb(158, 158, 158);
}
#workbench .workbench_aside .workbench_aside-form .form_label .form_label-input:focus {
  background: rgb(255, 255, 255);
  border-bottom: solid 2px #003459;
}
#workbench .workbench_aside .workbench_aside-form .form_label #search-icon {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(158, 158, 158);
  width: 1.6rem;
}
#workbench .workbench_aside .workbench_aside-form .form_label:focus {
  border: none;
}
#workbench .workbench_aside .workbench_aside-form .form_options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 1.6rem;
  width: 100%;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #003459;
  cursor: pointer;
  transition: all 0.1s ease;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label svg {
  max-height: 2rem;
  max-width: 2rem;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label-input {
  display: none;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label-span {
  position: absolute;
  right: 2.4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  background: #dfdfdf;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label:hover {
  background: #ececec;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label .checked {
  width: 0.3rem;
  height: 1.6rem;
  position: absolute;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label #star-icon {
  color: rgb(217, 4, 41);
}
#workbench .workbench_aside .workbench_aside-form .form_options-label #calendar-icon {
  color: rgb(0, 65, 0);
}
#workbench .workbench_aside .workbench_aside-form .form_options-label #user-alt-icon {
  color: darkgreen;
}
#workbench .workbench_aside .workbench_aside-form .form_options-label #home-icon {
  color: rgb(29, 29, 253);
}
#workbench .workbench_aside .workbench_aside-form .form_options .input-checked {
  background: #ececec;
}
#workbench .workbench_aside .workbench_aside-form .form_options .input-checked .checked {
  background: #003459;
  left: 1.6rem;
  border-radius: 0.8rem;
}
#workbench .workbench_aside .workbench_tasks-lists {
  border-top: solid 1px #dfdfdf;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  gap: 1rem;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.6rem;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions .task_lists-actions-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-weight: 400;
  color: #003459;
  cursor: pointer;
  transition: background 0.2s ease;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions .task_lists-actions-button:focus {
  outline: none;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions .task_lists-actions-button:hover {
  background: #ececec;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions .task_lists-actions-button svg {
  color: #003459;
  width: 2.4rem;
  height: 2.4rem;
}
#workbench .workbench_aside .workbench_tasks-lists .tasks_lists-actions #newlist-button {
  width: 100%;
  gap: 1rem;
}

/*# sourceMappingURL=index.css.map */
